################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/listas_encadeadas_simples_exercicio_1/.vs/listas_encadeadas_simples_exercicio_1/v16
